#register, #login {
  width: 300px;
  border: 1px solid #d6d7da;
  padding: 11px 15px 25px 25px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 21px;
  color: #ffffff;
  font-size: 14px;
  background:rgba(47, 115, 200, 0.81);
  margin: 100px auto;

 
}


form label, form input {
  display: block;
  /* margin-bottom: 10px; */
  width: 90%
}

.image-logo
{
  width: 50%;
  height: 50%;
  background-image: url("image/87343472.jpg");
}

.errorMsg
{
  color: #cc0000;

}
form input {
  padding: 10px;
  border:none;

}

.button {
  background-color:#98a2a7;

  font-weight: bold;
  padding: 12px 15px;
  width: 97%;
  margin-top: 14px;
  



  color: #ffffff;
}


.button:hover {
  background-color: rgb(240, 126, 98);
}

.errorMsg {
  color: #cc0000;
  margin-bottom: 12px;
}


.sucessMsg {
  color: #6B8E23;
  margin-bottom: 10px;
}
